{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} 
          <img class="profile" src="{{ . }}"> 
        {{ end }}
        <h1>{{ .Site.Title }}</h1>
        <h2>{{ markdownify .Site.Params.Description }}</h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
        <br/>
        <audio src="http://116.203.119.78:8443/;" controls style="width:100%; height:40px;">
        </audio>
    </div>
</main>

{{ partial "footer" . }}